@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
img {
  /* max-width: 100%; */
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}
