@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
img {
  /* max-width: 100%; */
  vertical-align: middle;
  border: 0;
}
html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}

/* 공통요소 */
.clearfix::after {
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}
.inner {
  position: relative;
}

/* 상단 */
.header {
}

/* 비주얼 */
.visual {
}

/* 대전홍보 */
.cityinfo {
}

/* 페스티벌 소개 */
.festival {
}

/* 프로그램 소개 */
.program {
}

/* 행사 일정 */
.schedule {
}

/* 행사장 안내 */
.map {
}

/* 이벤트 */
.event {
}

/* 하단 */
.footer {
}
