/* 비주얼 */
.visual {
}

@media all and (max-width: 1680px) {
}
@media all and (max-width: 1280px) {
}
@media all and (max-width: 1024px) {
}
@media all and (max-width: 760px) {
}
@media all and (max-width: 480px) {
}
